<h1>RoRo's Burger</h1>

<div>
  <ul class="uneaten">
    <h3>Uneaten Burgers</h3>
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block devour=true}}
      {{/unless}}
    {{/each}}
  </ul>

  <ul class="eaten">
    <h3>Eaten Burgers</h3>
    {{#each burgers}}
      {{#if devoured}}
        {{> burgers/burger-block devour=false}}
      {{/if}}
    {{/each}}
  </ul>
</div>

<form class="addBurger">
  <input type="text" class="newBurgerName">
  <button class="submit" type="submit">Add a Burger</button>
</form>
